<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Something isn't working quite right</h1>
    <p>Sorry for the inconvenience, but this feature will be back before you know it!</p>
    <a href="/">Go back to products.</a>

<%- include('includes/end.ejs') %>